body {
  background-color: rgb(0,0,0);
}

#puzzle {
border: thick solid #ff0000;
border-width:10px;
border-radius: 15px;
width: 320px;
height: 160px;
}

th, td {
background-color: gray;
border: 1px solid black;
border-collapse: collapse;
text-align: center;
width: 80px; height: 80px;
}

.piece {
border: 2px solid darken(background, 20);
border-collapse: collapse;
border-radius: 15px;
text-align: center;
vertical-align: middle;
width: 80px; height: 80px;
}

#counters {
color: white;
text-align: center;
}