#table {
width: 320px;
height: 160px;
text-align: center;
}

th, td {
border: 1px solid black;
border-collapse: collapse;
text-align:center;
width: 80px; height: 80px;
}

.piece {
border: thick solid #0000FF;
border-collapse: collapse;
text-align:center;
width: 60px; height: 60px;
}

img {
border: 2px solid black;
}